Cleanup

In [ ]:
USE [UnitTesting]
GO
DROP PROCEDURE IF EXISTS [TestBasic].[test If table dbo.Person has the correct columns];

Create the test

In [ ]:
USE [UnitTesting]
GO
/*
Description:
Test if the table has the correct columns

Changes:
Date		Who						Notes
----------	---						--------------------------------------------------------------
10/08/2019	Sander Stad				Initial procedure
*/
CREATE PROCEDURE [TestBasic].[test If table dbo.Person has the correct columns]
AS
BEGIN
    SET NOCOUNT ON;

    ----- ASSEMBLE -----------------------------------------------
    -- Create the tables
    CREATE TABLE #actual
    (
        [ColumnName] sysname NOT NULL,
        [DataType] sysname NOT NULL,
        [LengthSize] SMALLINT NOT NULL,
        [Precision] TINYINT NOT NULL
    );

    CREATE TABLE #expected
    (
        [ColumnName] sysname NOT NULL,
        [DataType] sysname NOT NULL,
        [LengthSize] SMALLINT NOT NULL,
        [Precision] TINYINT NOT NULL
    );

    INSERT INTO #expected
    (
        ColumnName,
        DataType,
        LengthSize,
        Precision
    )
    VALUES
    (   'Address', -- ColumnName - sysname
        'varchar', -- DataType - sysname
        100,       -- LengthSize - smallint
        0          -- Precision - tinyint
        ),
    (   'City',    -- ColumnName - sysname
        'varchar', -- DataType - sysname
        50,        -- LengthSize - smallint
        0          -- Precision - tinyint
    ),
    (   'Country', -- ColumnName - sysname
        'varchar', -- DataType - sysname
        50,        -- LengthSize - smallint
        0          -- Precision - tinyint
    ),
    (   'Email',   -- ColumnName - sysname
        'varchar', -- DataType - sysname
        100,       -- LengthSize - smallint
        0          -- Precision - tinyint
    ),
    (   'FirstName', -- ColumnName - sysname
        'varchar',   -- DataType - sysname
        50,          -- LengthSize - smallint
        0            -- Precision - tinyint
    ),
    (   'LastName', -- ColumnName - sysname
        'varchar',  -- DataType - sysname
        50,         -- LengthSize - smallint
        0           -- Precision - tinyint
    ),
    (   'PersonId', -- ColumnName - sysname
        'int',      -- DataType - sysname
        4,          -- LengthSize - smallint
        10          -- Precision - tinyint
    ),
    (   'Zipcode', -- ColumnName - sysname
        'varchar', -- DataType - sysname
        8,         -- LengthSize - smallint
        0          -- Precision - tinyint
    );

    ----- ACT ----------------------------------------------------

    INSERT INTO #actual
    (
        ColumnName,
        DataType,
        LengthSize,
        Precision
    )
    SELECT c.name AS ColumnName,
        st.name AS DataType,
        c.max_length AS LengthSize,
        c.precision AS [Precision]
    FROM sys.columns AS c
        INNER JOIN sys.tables AS t
            ON t.object_id = c.object_id
        INNER JOIN sys.schemas AS s
            ON s.schema_id = t.schema_id
        LEFT JOIN sys.types AS st
            ON st.user_type_id = c.user_type_id
    WHERE t.type = 'U'
        AND s.name = 'dbo'
        AND t.name = 'Person'
    ORDER BY t.name,
            c.name;


    ----- ASSERT -------------------------------------------------

    -- Assert to have th same table
    EXEC tSQLt.AssertEqualsTable @Expected = '#expected', @Actual = '#actual';


END;
GO

Run this test

In [ ]:
USE [UnitTesting]
GO
EXEC tSQLt.Run @TestName = N'[TestBasic].[test If table dbo.Person has the correct columns]';

Run all the tests

In [ ]:
USE [UnitTesting]
GO
EXEC tSQLt.RunAll;